<div class="container">

    <div class="details">
        <div class="recentOrders">
            <div class="cardHeader">
                <h2> SMS KODLAR </h2>
                <a href="#" class="btn">View all</a>
            </div>

            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Price</td>
                        <td>Payment</td>
                        <td>Status</td>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Start Ref</td>
                        <td>1200</td>
                        <td>paid</td>
                        <td><span class="status pending">Pending</span></td>
                    </tr>

                    <tr>
                        <td>Start Ref</td>
                        <td>1200</td>
                        <td>paid</td>
                        <td><span class="status verified">Verified</span></td>
                    </tr>

                    <tr>
                        <td>Start Ref</td>
                        <td>1200</td>
                        <td>paid</td>
                        <td><span class="status errored">Errored</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>